<%= patchwerks_api.environment %>:
  adapter:            postgis
  database:           <%= @database.database %>
  host:               <%= @database.host %>
  schema_search_path: 'public, postgis'
  template:           postgis_template
  username:           <%= @database.username %>
