<%= patchwerks_api.environment %>:
  amqp:
    auth_mechanism: <%= @amqp.auth_mechanism %>
    host:           <%= @amqp.host %>
    port:           <%= @amqp.port %>
    vhost:          <%= @amqp.vhost %>
    <% if @amqp.ssl? %>
    ssl:
      cert_chain_file:  /etc/patchwerks_api/amqp.crt
      private_key_file: /etc/patchwerks_api/amqp.key
    <% end %>
  cache:
    directory: patchwerks
    prefix:    tiger/
    provider:  aws
